// reset css
* {
  margin: 0;
  padding: 0;
}
ul, ol, li {
  list-style: none;
}
input, button, textarea, select {
  font: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
img, input, button {
  outline: none;
  vertical-align: middle;
  max-width: 100%;
}
:root {
  --orange: hsla(32, 100%, 50%, 1);
  --yellow: hsla(49, 99%, 50%, 1);
  --lime: hsla(82, 90%, 45%, 1);
  --green: hsla(170, 62%, 51%, 1);
  --red: hsla(342, 93%, 53%, 1);
  --pink: hsla(314, 85%, 45%, 1);
  --blue: hsla(211, 92%, 52%, 1);
  --purple: hsla(283, 92%, 44%, 1);
  --cyan: hsla(195, 98%, 55%, 1);
  --white: hsla(0, 0%, 95%, 1);
  --black: hsla(0, 0%, 10%, 1);

  /* abstract our colours */
  --boxMain: var(--pink);
  --boxSecond: var(--purple);
  --boxHigh: var(--yellow);
  --border: 1vmin solid var(--black);
  --borderRad: 2px;
}

html, #app{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $bgrey;
}
body{
  width: 1024px;
  height: 768px;
  margin: 15px auto;
  font-size: 14px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
#app{
  background-color: #fff;
  border: 2px $bgrey solid;
  border-radius: 4px;
}

#main {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-left: $sidewidth + 30;
  background-color: #fdfffd;
  >.contain{
    padding: 10px 0;
    height: 100%;
    overflow: hidden;
  }
  .arco-spin{
    width: 100%;
  }
}