$bgrey: #e5e2ef;
$mytan: #996633;
$myyellow: #ffff99;
$mygreen: #35cfb6;
$redgrey: #f3d5d3;
$somegrey: #f3f6fa;
$someyellow: #999933;
$somered: #cc6d66;
$somegreen: #17ce91;
$somedark: #003300;
$somelight: #cccc99;
$lightblue: #d6f4f8;
$linerGreen: 45deg, $mygreen 55%, $somegreen;

$textlight: #9c9a9a;

$sidewidth: 150px;

$containPadding: 0 40px;

@mixin linerBg ($linerColor: $linerGreen) {
  background-image: linear-gradient($linerColor);
}