$bgrey: #e5e2ef;
$mytan: #996633;
$myyellow: #ffff99;
$mygreen: #35cfb6;
$somegrey: #666633;
$someyellow: #999933;
$somered: #cc9966;
$somegreen: #17ce91;
$somedark: #003300;
$somelight: #cccc99;
$linerGreen: 45deg, $mygreen 55%, $somegreen;

$textlight: #9c9a9a;

$sidewidth: 150px;

$containPadding: 0 40px;

@mixin linerBg ($linerColor: $linerGreen) {
  background-image: linear-gradient($linerColor);
}