$bgrey: #e5e2ef;
$mytan: #996633;
$myyellow: #ffff99;
$mygreen: #66cc99;
$somegrey: #666633;
$someyellow: #999933;
$somered: #cc9966;
$somegreen: #006633;
$somedark: #003300;
$somelight: #cccc99;

$textligth: #9c9a9a;

$sidewidth: 190px;